body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  font-family: "Roboto", sans-serif;
}
.cardListComponent {
  height: 500px;
  width: 300px;
  margin: 10px;
}

.cardListContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: "row";
  justify-content: center;
  align-items: center;
}

.imgFeed {
height: 200px;
}

.imgDetail{
object-fit: contain
}

.imgSpin{
  pointer-events: none;
}

.cardDate{
  display: flex;
  justify-content: space-between;
}
.card-body-custom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.active-custom {
  background-color: aquamarine;
border-radius: 8px;
}

/* .feedDate{
  float: left
}

.feedPrice{
  float: right
} */
